@use 'typography.scss';
@use 'var.scss';
@use 'util.scss';
@use 'header.scss';
@use 'course-container.scss';

//TODO: move
$breakpoint-tablet: 768px;
$breakpoint-mobile-large: 768px;

.profile-icon {
    height: 50px;
    border-radius: 50%;
    background-color: var(--col-secondary);
    padding: 5px;

    &:hover {
        filter: brightness(1.1);
    }
}

.container {
    padding: 20px 0;

    &.full-height {
        padding-top: 0;
        padding-bottom: 0;
    }

    &.full-width {
        padding-left: 0;
        padding-right: 0;
    }
}

.container.main {
    height: 300px;

    &.split {
        @media (min-width: $breakpoint-mobile-large) {
            display: grid;

            &.two-one {
            grid-template-columns: 2fr 1fr;
            }
        }

        .col {
            padding: 20px;
        }
    }
}

.img-with-text-container {
    position: relative;

    h1,h2,h3,h4,h5,h6,p {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
.main-img {
    height: 300px;
    width: 100%;
}
