@use 'imports.scss';

//TODO: move
$breakpoint-tablet: 1200px;
$breakpoint-mobile-large: 768px;

/* profile icon */
.profile-icon {
    height: 50px;
    border-radius: 50%;
    background-color: var(--col-secondary);
    padding: 5px;

    &:hover {
        filter: brightness(1.1);
    }
}

/* general container */
.container {
    position: relative;
    padding: 20px;

    &.full-height {
        padding-top: 0;
        padding-bottom: 0;
    }

    &.full-width {
        padding-left: 0;
        padding-right: 0;
    }
    
    &.tall {
        min-height: 70vh;
    }

    // main container
    &.main {
        @media (min-width: $breakpoint-tablet) {
            margin-left: 50px;
            margin-right: 50px;
        }
    }

    //login container
    &.login {
        height: 100vh;

        @media (min-width: $breakpoint-mobile-large) {
            padding-top: 200px;
        }

        @media (max-width: $breakpoint-mobile-large) {
            padding: 0;
            margin: 0;

            .login-form {
                max-width: none;
                margin: 0;
                border-radius: 0;
            }
        }
    }

    &.split {
        @media (min-width: $breakpoint-mobile-large) {
            display: grid;

            &.two-one {
            grid-template-columns: 2fr 1fr;
            }

            &.one-one {
                grid-template-columns: 1fr 1fr;
            }

            &.one-two {
                grid-template-columns: 1fr 2fr;
            }
            
            .col {
                padding: 0 20px;
            }
        }
    }

    .col {
        position: relative;
        padding: 20px;

        @media (max-width: $breakpoint-mobile-large) {
            &.m-full-width {
                padding: 0;
            }
        }
    }
}

/* spaced mod */
.spaced {
    margin-top: 10px;
    margin-bottom: 10px;

    @media (min-width: $breakpoint-mobile-large) {
            margin-top: 20px;
            margin-bottom: 20px;
    }
}

.top-spaced {
    margin-top: 20px;
    @media (min-width: $breakpoint-mobile-large) {
        margin-top: 40px;
}
}

.bottom-spaced {
    margin-bottom: 20px;
    @media (min-width: $breakpoint-mobile-large) {
        margin-bottom: 40px;
}
}

/* big image container */
.img-with-text-container {
    position: relative;
    box-shadow: 0px 5px 10px -4px #22222254;
    height: 300px;

    h1,h2,h3,h4,h5,h6,p {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    h1 {
        font-size: 35px;
    }

    .main-img {
        width: 100%;
        height: 100%;
        background-color: var(--col-secondary);
    }
}

/* buttons */
button, input[type="submit"] {
    appearance: none;
    height: 55px;
    width: 130px;
    border: none;
    transition: 0.3s transform;
    border-radius: var(--border-r-medium);
    font-weight: 600;
    box-shadow: 1px 4px 16px -4px #22222288;

    &:active {
        position: relative;
        top: 1px;
      }

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    &.primary {
        background-color: var(--col-primary-light);
    }

    &.secondary {
        background-color: var(--col-secondary);
    }

    &.logout {
        background-color: var(--col-red);
        color: var(--col-grey);
    }
  }

  .flex {
      button, input[type="submit"] {
          margin-right: 30px;
      }
  }
