@use 'typography.scss';
@use 'var.scss';
@use 'util.scss';
@use 'header.scss';

//TODO: move
$breakpoint-tablet: 768px;
$breakpoint-mobile-large: 768px;

.header-container {
    background-color: var(--col-primary);
    padding: 0 40px;

    .header-links li {
        padding: 25px 10px;
            
        @media (max-width: $breakpoint-mobile-large) {
            font-size: 14px;   
            padding: 15px 0;
        }
    }

    @media (max-width: $breakpoint-mobile-large) {   
        padding: 0 20px;
    }
}

.profile-icon {
    padding: 20px;     
    background-color:var(--col-alt-2);         
}

@media (min-width: $breakpoint-tablet) {
.header-container {
    nav {
        display: flex;
        align-items: center;

        .header-links {
            display: flex;
            
            li {
                padding: 25px 20px;
            }
        }

        .icon-container {
            margin-left: auto;
        }
    }
}
}

.main-container {
    background-color: red;
    height: 300px;
    padding: 20px 0;

    @media (min-width: $breakpoint-mobile-large) {
        display: grid;
        grid-template-columns: 2.25fr 0.75fr;
    }
}