:root {
    //color
    --col-primary: #fcb1a6ff;
    --col-secondary: #8aa39bff;
    --col-alt-1: #7d869cff;
    --col-alt-2: #e5e8b6ff;
    --col-alt-3: #b4c4aeff;

    //borders
    --border-r-small: ;
    --border-r-medium: ;
    --border-r-large: ;

    //media
    --media-small: 600px;
    --media-medium: 768px;
    --media-tablet: 992px;
    --media-desktop: 1200px;
    
    $breakpoint-tablet: 768px;
    //fonts
  }

