.assignments-container {
    overflow: hidden;
    border-radius: var(--border-r-medium);
    box-shadow: 0px 5px 10px -4px #22222254;
    background-color: var(--col-grey);
    width: 100%;
    min-height: 250px;
    padding: 20px;

    .assignments-row {
        margin: 10px 0;
    }

    a {
        display: block;
        margin-bottom: 0.5em;
    }
}