@use '../var.scss';

$breakpoint-mobile-large: 768px;

.calendar {
    overflow: hidden;
    border-radius: var(--border-r-medium);
    box-shadow: 1px 4px 16px -4px #22222288;

    //for schedule page
    &.schedule {
      .days li {
        min-height: 35px;
        width: 100%;
        padding: 5px;
        cursor: pointer;
        text-align: center;

        @media (min-width: $breakpoint-mobile-large) {
          min-height: 150px;
          padding: 10px;
          text-align: left;
        }

        &.active {
          padding-top: 10px;
          background: var(--col-primary);
          color: white !important;
          width: 100%;
          height: 100%;
          border-radius: var(--border-r-medium);

          &:hover {
            background-color: var(--col-primary-light);
          }
        }

        .assignment-container {
          padding: 10px 5px 5px 5px;
        }
      }
    }
}


/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: var(--col-secondary);
  text-align: center;

  ul li {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .month-btn {
    padding-top: 10px;

    &#prev {
        float: left;
    }

    &#next {
        float: right;
    }

    &:hover {
        cursor: pointer;
    }
  }
  
}
/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px;
  background-color:#ddd;
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  li {
    color: #666;
    text-align: center;
  }
}

/* Days (1-31) */
.days {
  padding: 10px;
  background: #eee;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
    place-items: center;

  li {
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    padding: 5px;
    color: #777;
    width: 100%;

    .active {
        display: block;
        padding: 5px;
        background: var(--col-primary);
        width: 100%;
        height: 100%;
        border-radius: var(--border-r-medium);
      }
  }
}
