.classes-container {
    background-color: var(--col-secondary);
    border-radius: var(--border-r-medium);

    .scrolling-wrapper {
        background-color: var(--col-grey);
        height: 100%;
        padding: 10px;
        display: flex;
        overflow-x: scroll;
        white-space: pre;
        align-items: center;

        .class-item {
            padding: 0 25px;
            border-radius: var(--border-r-small);
            margin: 0 20px;
            background-color: var(--col-primary);
            height: 100px;

            &:hover {
                background-color: var(--col-primary-light);
                cursor: pointer;
            }

        }
    }

    //desktop
    @media (min-width: 768px) {
        border-radius: var(--border-r-medium);
        box-shadow: 1px 4px 16px -4px #22222288;

        .scrolling-wrapper {
            min-height: 600px;
            display: block;
            overflow-y: scroll;
            overflow-x: auto;
            white-space: normal;
            .class-item {
                min-width: 400px;
                margin: 20px 0;
                padding: 15px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

.class-item-container {
    display: flex;
    flex-flow: column;
    @media (min-width: 768px) {
        overflow-x: auto;
        flex-flow: row;
        max-width: 1000px;
    }

    .class-item {
        background-color: var(--col-secondary);
        padding: 20px;
        min-width: 200px;
        margin: 0 20px;
        border-radius: var(--border-r-small);

        &.active, &:hover {
            background-color: var(--col-secondary-light);
            cursor: pointer;
        }

        h1,h2,h3, p {
            margin: 0;
        }
        
        &:first-child {
            margin-left: 0;
        }
    }

    .assignment-item {
        padding: 20px;
        min-width: 250px;
        cursor: pointer;
        background-color: var(--col-grey);
        border-radius: var(--border-r-small);
        margin: 10px;

        &:first-child {
            margin-left: 0;
        }
    }

    @media (max-width: 768px) {
        .assignment-item {
            margin: 10px 0;
        }

        .class-item {
            margin: 10px 0;
        }
    }
}