
$breakpoint-mobile-large: 768px;


.course-container {
    padding: 10px 20px;
    background-color: var(--col-secondary);
    margin-bottom: 20px;
    border-radius: var(--border-r-small);
    box-shadow: 0px 5px 10px -4px #22222254;

    .title {
        min-height: 50px;
        display: flex;
        align-items: center;
    }

    .title:hover {
        cursor: pointer;
        color: var(--col-link)
    }

    .content-wrapper {
        padding: 20px 0;

        &.closed {
            display: none;
        }
    }

    @media (min-width: $breakpoint-mobile-large){
        & {
            min-width: 400px;
        }

        &.short {
            max-width: 700px;
        }

        &.medium {
            max-width: 1000px;
        }
    }
}