input[type="text"],input[type="email"],input[type="password"], textarea, input[type="date"] {
    appearance: none;
    border: none;
    border-radius: var(--border-r-medium);
    padding: 15px;
    width: 100%;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus, textarea:focus, input[type="date"]:focus {
    outline: solid 2px var(--col-secondary);
}

input[type="text"]:disabled {
    background-color: #ddd;
    color: #555;
}

input[type="text"].as-h3 {
    background-color: #fff;
    font-family: "Roboto";
    font-weight: lighter;

    &:disabled {
        background-color: transparent;
    }

    &:focus {
        outline: none;
        background-color: #fff;
    }
}

textarea.as-text {
    background-color: #fff;
    text-align: left;
    padding: 0;
    font-size: 1em;
    resize: none;

    &:disabled {
        background-color: transparent;
    }

    &:focus {
        outline: none;
        background-color: #fff;
    }
}

.form-input-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-input-group-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;

    input[type="text"],input[type="date"]  {
        max-width: 200px;
    }

    h1,h2,h3,p,label {
        margin-right: 20px;
        margin-bottom: 0;
    }
}

.profile-form, .login-form {
    background-color: var(--col-grey);
    border-radius: var(--border-r-medium);
    box-shadow: 1px 4px 16px -4px #22222288;
    padding: 30px;

    .assignment-item {
        background-color: #fff;
    }
}

.login-form {
    max-width: 500px;

    @media (max-width: 768px) {
        height: 100vh;
    }
}

.profile-image {

    .icon-container {
        width: 200px;
        .profile-icon {
            height: auto;
        }
    }

    @media (min-width: 768px) {
        .icon-container {
            width: 400px;

            .profile-icon {
                height: auto;
            }
        }
    }
}

label {
    .required {
        color: #af0000;
    }
}