input[type="text"],input[type="email"],input[type="password"], textarea {
    appearance: none;
    border: none;
    border-radius: var(--border-r-medium);
    padding: 15px;
    width: 100%;
}

input[type="text"]:disabled {
    background-color: #ddd;
    color: #555;
}


.form-input-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-form, .login-form {
    background-color: var(--col-grey);
    border-radius: var(--border-r-medium);
    box-shadow: 1px 4px 16px -4px #22222288;
    padding: 30px;
}

.login-form {
    max-width: 500px;

    @media (max-width: 768px) {
        height: 100vh;
    }
}

.profile-image {

    .icon-container {
        width: 200px;
        .profile-icon {
            height: auto;
        }
    }

    @media (min-width: 768px) {
        .icon-container {
            width: 400px;

            .profile-icon {
                height: auto;
            }
        }
    }
}

label {
    .required {
        color: #af0000;
    }
}