
$breakpoint-mobile-large: 768px;

.next-class-container {
    width: 100%;
    min-height: 50px;
    border-radius: var(--border-r-medium);
    box-shadow: 0px 5px 10px -4px #22222254;

    .next-class-display {
        background-color:var(--col-grey);
        min-height: 50px;
        width: 100%;
        border-radius: var(--border-r-small);
        display: flex;
        align-items: center;
        padding: 0 20px;
        justify-content: space-between;

        span {
            display: block;
            padding: 10px 20px;
        }
       
        @media (max-width: $breakpoint-mobile-large){
            flex-flow: column;
            align-items: flex-start;
            padding: 10px;
        }
    }
}